body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%;  /* Make the image responsive */
    max-width: 500px;  /* Limit the maximum width */
    height: auto;  /* Keep the aspect ratio */
}

/* Media query for smaller devices (phones) */
@media screen and (max-width: 768px) {
    .header_text {
        font-size: 2em; /* Reduce font size on mobile */
    }

    .gif_container img {
        max-width: 100%;  /* Ensure the image doesn't exceed screen width */
    }
}
